@charset "UTF-8"

*,*::before,*::after{
    box-sizing: border-box;

}

.inline{
    display: inline-block;
}

html{
    font-size: 16px;
}



p{
    background-color:rgba(0, 128, 0, 0.272);
    width: 100px;
    height: 100px;
    padding: 1rem 1em 1em 3rem;
    border: solid 0.2em rgb(3, 39, 3);
    margin: 5rem 1em;
}
h1{
    background-color: black;
    color: antiquewhite;
    border:solid 0.1em gray;
}
h2{
    border-bottom:solid ;

}
